<div class="container my-container">
   <div class="form-title">
     <p>{{'REGISTER.FORM.TITLE' | translate}}</p>
   </div>
   <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
   		<div class="form-group">
   			<label for="email">{{'REGISTER.FORM.INPUTS.EMAILLOGIN.LABEL' | translate}}</label> 
   			<input type="email" class="form-control" id="email" [(ngModel)]="user.usemail" name="usemail" required #usemail="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
   			<div [hidden]="usemail.valid || usemail.pristine" class="alert alert-danger my-alert">
   				{{'REGISTER.FORM.INPUTS.EMAILLOGIN.INVALID' | translate}}
   			</div>
<!--    			<div [hidden]="usemail.valid" class="alert alert-danger my-alert">
   				{{'REGISTER.FORM.INPUTS.EMAILLOGIN.INVALID' | translate}}
   			</div> -->
   		</div>

   		<div class="form-group">
   			<label for="uspassword">{{'REGISTER.FORM.INPUTS.PASSWORD.LABEL' | translate}}</label>
   			<input type="password" class="form-control" id="password" [(ngModel)]="user.uspassword" name="uspassword" required #uspassword="ngModel" />
   			<div [hidden]="uspassword.valid || uspassword.pristine" class="alert alert-danger my-alert">
   				{{'REGISTER.FORM.INPUTS.PASSWORD.INVALID' | translate}}
   			</div>
   		</div>

   		<button type="submit" class="btn btn-default" [disabled]="!registerForm.form.valid">{{'REGISTER.FORM.BUTTONS.SUBMIT' | translate}}</button>
   </form>
</div>